@model WebQLTV.Web.Models.SachPaginationResult
@{
    //ViewBag.Title = "Index";
}

<!-- catagory section -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products - RedStore</title>
    <link rel="stylesheet" href="~/content/style.css">

</head>

<body class="bodyss">





    <div class="small-container">

        <div class="row row-2" style="border-bottom:3px solid #0094ff;padding-bottom:10px">
            <h2><strong style="font-size:25px">TẤT CẢ SÁCH</strong></h2>
            <from class="search_form">
                <input type="text" class="form-control" placeholder="Search here..." style="border:1px solid #0094ff">
                <button class="" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </from>
            <select style="margin-left: -330px; border: 1px solid #0094ff">
                <option>--Tác giả--</option>
                <option>Bài tập</option>
                <option>Pornhub</option>
                <option>Jav</option>
                <option>Beeg</option>
            </select>
            <select style="margin-left: -330px; border: 1px solid #0094ff">
                <option>--Loại sách--</option>
                <option>Bài tập</option>
                <option>Pornhub</option>
                <option>Jav</option>
                <option>Beeg</option>
            </select>
        </div>



        <div class="row">
            @foreach (var item in WebQLTV.BusinessLayer.CommonDataService.ListSach())
            {
                <div class="col-4" style="height:600px">
                    <a href="products_detal.html">
                        <img src="~/bostorek/image/1.jpg" style="height:350px">
                        @if (item.SoLuongCon == 0)
                        {
                            <div style="width: 100%; background-color: #ff6961; color: white; text-align: center">Hết hàng</div>
                        }
                    </a>

                    <h4><strong>@item.TenSach</strong></h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>
                        Tác giả:
                        @foreach (var tg in WebQLTV.BusinessLayer.CommonDataService.ListTacGia(item.MaSach))
                        {
                            <strong>
                                @tg.TenTacGia
                            </strong><br />

                        }
                        Xuất bản: <strong>@item.MaNhaXuatBan</strong><br />
                        Số lượng còn trong thư viện: <strong>@item.SoLuongCon</strong>
                    </p>
                    @if (item.SoLuongCon > 0)
                    {
                        <p><button class="btn btn" style="background:#0094ff;margin-top:-8px"> Thêm vào giỏ </button></p>
                    }
                    else
                    {
                        <p><button class="btn btn" style="background:#ffb347;margin-top:-8px"> Thêm vào wishlist </button></p>
                    }

                </div>
            }
        </div>

    </div>
    <div class="page-link">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&#8594;</span>
    </div>
    </div>
    <!-- ------------footer----------- -->
    >
    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px";
            }
            else {
                MenuItems.style.maxHeight = "0px";
            }
        }
    </script>
</body>

</html>