
@{
    //ViewBag.Title = "Index";
}

<!-- catagory section -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products - RedStore</title>
    <link rel="stylesheet" href="~/content/style.css">

</head>

<body class="bodyss">
    
    



    <div class="small-container">

        <div class="row row-2" style="border-bottom:3px solid #0094ff;padding-bottom:10px">
            <h2><strong style="font-size:25px">TẤT CẢ SÁCH</strong></h2>
            <from class="search_form">
                <input type="text" class="form-control" placeholder="Search here..." style="border:1px solid #0094ff">
                <button class="" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </from>
            <select style="margin-left: -330px; border: 1px solid #0094ff">
                <option>--Tác giả--</option>
                <option>Bài tập</option>
                <option>Pornhub</option>
                <option>Jav</option>
                <option>Beeg</option>
            </select>
            <select style="margin-left: -330px; border: 1px solid #0094ff">
                <option>--Loại sách--</option>
                <option>Bài tập</option>
                <option>Pornhub</option>
                <option>Jav</option>
                <option>Beeg</option>
            </select>
        </div>
        

        <div class="row">
            <div class="col-4" >
                <a href="products_detal.html"><img src="~/bostorek/image/1.jpg" style="height:350px"></a>
                <h4><strong>Mình chia tay nhé</strong></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>
                    Tác giả: <strong>Đăng Quang</strong><br />
                    Xuất bản: <strong>Kim Đồng</strong><br />
                    Số lượng: <strong>30</strong>
                </p>
                <p><button class="btn btn" style="background:#0094ff;margin-top:-8px" > Thêm vào giỏ </button></p>

            </div>
            <div class="col-4">
                <img src="~/bostorek/image/2.jpg" style="height:350px">
                <h4><strong>Một điều vì sao</strong></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>
                    Tác giả: <strong>Đăng Quang</strong><br />
                    Xuất bản: <strong>Kim Đồng</strong><br />
                    Số lượng: <strong>30</strong>
                </p>
                <p><button class="btn btn" style="background:#0094ff;margin-top:-8px"> Thêm vào giỏ </button></p>
            </div>
            <div class="col-4">
                <img src="~/bostorek/image/3.jpg" style="height:350px">
                <h4><strong>Anh ta bỏ em rồi</strong></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>
                    Tác giả: <strong>Đăng Quang</strong><br />
                    Xuất bản: <strong>Kim Đồng</strong><br />
                    Số lượng: <strong>30</strong>
                </p>
                <p><button class="btn btn" style="background:#0094ff;margin-top:-8px"> Thêm vào giỏ </button></p>
            </div>
            <div class="col-4">
                <img src="~/bostorek/image/4.jpg" style="height:350px">
                <h4><strong>Muộn rồi mà sao còn</strong></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>
                    Tác giả: <strong>Đăng Quang</strong><br />
                    Xuất bản: <strong>Kim Đồng</strong><br />
                    Số lượng: <strong>30</strong>
                </p>
                <p><button class="btn btn" style="background:#0094ff;margin-top:-8px"> Thêm vào giỏ </button></p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="~/bostorek/image/5.jpg" style="height:350px">
                <h4><strong>Sách Lập trình</strong></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>
                    Tác giả: <strong>Đăng Quang</strong><br />
                    Xuất bản: <strong>Kim Đồng</strong><br />
                    Số lượng: <strong>30</strong>
                </p>
                <p><button class="btn btn" style="background:#0094ff;margin-top:-8px"> Thêm vào giỏ </button></p>
            </div>
            <div class="col-4">
                <img src="~/bostorek/image/6.jpg" style="height:350px">
                <h4><strong>Buồn của tôi</strong></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>
                    Tác giả: <strong>Đăng Quang</strong><br />
                    Xuất bản: <strong>Kim Đồng</strong><br />
                    Số lượng: <strong>30</strong>
                </p>
                <p><button class="btn btn" style="background:#0094ff;margin-top:-8px"> Thêm vào giỏ </button></p>
            </div>
            <div class="col-4">
                <img src="~/bostorek/image/7.jpg" style="height:350px">
                <h4><strong>Lá xa lìa cành</strong></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>
                    Tác giả: <strong>Đăng Quang</strong><br />
                    Xuất bản: <strong>Kim Đồng</strong><br />
                    Số lượng: <strong>30</strong>
                </p>
                <p><button class="btn btn" style="background:#0094ff;margin-top:-8px"> Thêm vào giỏ </button></p>
            </div>
            <div class="col-4">
                <img src="~/bostorek/image/8.jpg" style="height:350px">
                <h4><strong>Lạc trôi</strong></h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>
                    Tác giả: <strong>Đăng Quang</strong><br />
                    Xuất bản: <strong>Kim Đồng</strong><br />
                    Số lượng: <strong>30</strong>
                </p>
                <p><button class="btn btn" style="background:#0094ff;margin-top:-8px"> Thêm vào giỏ </button></p>
            </div>
        </div>

    </div>
        <div class="page-link">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>&#8594;</span>
        </div>
    </div>
    <!-- ------------footer----------- -->

    >
        <script>
            var MenuItems = document.getElementById("MenuItems");

            MenuItems.style.maxHeight = "0px";

            function menutoggle() {
                if (MenuItems.style.maxHeight == "0px") {
                    MenuItems.style.maxHeight = "200px";
                }
                else {
                    MenuItems.style.maxHeight = "0px";
                }
            }

        </script>
</body>

</html>