
@{
//ViewBag.Title = "Index";
}

<!-- catagory section -->
<from class="search_form" style="width:800px">
    <select class="form-control-static" style="border: 1px solid #0094ff; margin-left: 20px">
        <option>-- Loại sách --</option>
    </select>
    <select class="form-control-static" style="border:1px solid #0094ff; margin-left:20px">
        <option>-- Tác giả --</option>
    </select>
    
    <input type="text" class="form-control" placeholder="Search here..." style="border:1px solid #0094ff">
    <button class="" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
    </button>
</from>
<section class="catagory_section layout_padding">

    <div class="catagory_container">
        <div class="container ">
            <div class="heading_container heading_center">
                @for(int i = 1; i < 4; i++) {
                <div class="row">
                    <div class="col-sm-6 col-md-4 ">
                        <div class="box ">
                            <div class="img">
                                <img src="~/bostorek/images/cat1.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Sách bài tập
                                </h5>
                                <p>
                                    fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                    The
                                    point of using
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                }
            </div>
        </div>
    </div>
</section>

