@{

}

<!DOCTYPE html>
<html>



<body>

    <div class="hero_area">
        <!-- header section strats -->
        
        <!-- end header section -->
        <!-- slider section -->
        <section class="slider_section ">
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="detail-box">
                                        <h5>
                                            Thư viện Online DHKH
                                        </h5>
                                        <h1>
                                           
                                            Đa dạng sách
                                        </h1>
                                        <p>
                                            Một công nghệ mới được phát triển giúp học sinh , sinh viên có thể đặt sách online mà không phải cần tới trường
                                        </p>
                                        <a href="~/book">
                                            Xem thêm
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="img-box">
                                        <img src="~/bostorek/images/slider-img.png" alt="">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="detail-box">
                                        <h5>
                                            THƯ VIỆN ONLINE
                                        </h5>
                                        <h1>
                                            Dành cho mọi người <br>
                                            Cần đọc sách
                                        </h1>
                                        <p>
                                            
                                        </p>
                                        <a href="~book">
                                            Xem thêm
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="img-box">
                                        <img src="~/bostorek/images/asdf.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="detail-box">
                                        <h5>
                                            Môi trường làm việc năng động
                                        </h5>
                                        <h1>
                                            
                                            Wifi điều hòa đầy đủ
                                        </h1>
                                        <p>
                                            Địa điểm: Tầng 2 Dãy nhà H Trường Đại học Khoa học, Đại học Huế
                                        </p>
                                        <a href="~/book">
                                            Xem thêm
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="img-box">
                                        <img src="~/bostorek/images/thuvienkhoahoc2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel_btn_box">
                    <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Sau</span>
                    </a>
                    <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Tiếp</span>
                    </a>
                </div>
            </div>
        </section>
        <!-- end slider section -->
    </div>


    <!-- catagory section -->

    <section class="catagory_section layout_padding">
        <div class="catagory_container">
            <div class="container ">
                <div class="heading_container heading_center">
                    <h2>
                        Loại sách
                    </h2>
                    <p>
                        Loại sách đa dạng, đáp ứng đầy đủ nhu cầu học sinh, sinh viên
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="~/bostorek/images/cat1.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Sách bài tập
                                </h5>
                                <p>
                                    Sách bài tập, giáo trình bài tập, bài tập liên quan đến các môn học thuộc đào tạo trên trường
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="~/bostorek/images/cat2.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Sách giáo trình
                                </h5>
                                <p>
                                    Giáo trình nghiên cứu thông tin môn học, sách giáo trình tham khảo mới nhất 2022
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="~/bostorek/images/cat3.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Sách luận
                                </h5>
                                <p>
                                    Gồm những khóa luận mẫu,...
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

    <!-- end catagory section -->
    <!-- about section -->

    <section class="about_section layout_padding">
        <div class="container ">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="~/bostorek/images/about-img.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Thư viện Trường Đại học Khoa học Huế
                            </h2>
                        </div>
                        <p>
                            Đây là thư viện Trường Đại học Khoa học Huế, nơi cung cấp sách cho độc giả ..........
                        </p>
                        <a href="~/book">
                            Xem thêm
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

 

    <section class="blog_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Môi trường thư viện Trường Khoa học 
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/bostorek/images/thuvienkhoahoc.jpg" alt="" style="height:416px">
                            <h4 class="blog_date">
                                <span>
                                    20 Tháng 1 2021
                                </span>
                            </h4>
                        </div>
                        <div class="detail-box">
                            <h5>
                                Môi trường đọc sách yên tĩnh, thuận tiện 
                            </h5>
                            <p>
                                Học sinh, sinh viên có thẻ sử dụng thẻ sinh viên hoặc thẻ thư viện để tới phòng thư viện để đọc sách một cách yên tĩnh, dễ dàng.
                            </p>
                            <a href="">
                                Xem thêm
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/bostorek/images/thuvienkhoahoc3.jpg" alt="">
                            <h4 class="blog_date">
                                <span>
                                    22 tháng 5 2021
                                </span>
                            </h4>
                        </div>
                        <div class="detail-box">
                            <h5>
                                Hoạt động ngày đọc sách
                            </h5>
                            <p>
                                Nhà trường đã triển khai một số hoạt động ngoài giờ như Ngày đọc sách miễn phí và một số hoạt động mua bán sách nhằm thúc đẩy những niềm đam mê đọc sách của học sinh, sinh viên trường Đại học Khoa học.
                            </p>
                            <a href="">
                                Xem thêm
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end blog section -->
    <!-- contact section -->

    <section class="contact_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="heading_container ">
                        <h2 class="">
                            Liên hệ thư viện 
                        </h2>
                    </div>
                    <form action="#">
                        <div>
                            <input type="text" placeholder="Tên" />
                        </div>
                        <div>
                            <input type="email" placeholder="Email" />
                        </div>
                        <div>
                            <input type="text" placeholder="Số điện thoại" />
                        </div>
                        <div>
                            <input type="text" class="message-box" placeholder="Tin nhắn" />
                        </div>
                        <div class="btn-box">
                            <button>
                                GỬI
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="~/bostorek/images/contact-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end contact section -->
    <!-- info section -->


   

</body>

</html>