<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="icon" href="~/bostorek/images/favicon.png" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>THƯ VIỆN TRƯỜNG KHOA HỌC</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/bostorek/css/bootstrap.css" />
    <!-- font awesome style -->
    <link href="~/bostorek/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/Search.js"></script>
    <!-- Custom styles for this template -->
    <link href="~/bostorek/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/bostorek/css/responsive.css" rel="stylesheet" />

</head>

<body>


    @Html.Partial("_Header")

    <h1>
        @ViewBag.Title
    </h1>
    <section class="content">
        @RenderBody()
    </section>

    @{ Html.RenderPartial("_Footer");}

    <!-- end info section -->
    <!-- footer section -->
    <!-- footer section -->
    <!-- jQery -->
    <script src="~/bostorek/js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/bostorek/js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="~/bostorek/js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>
    <!-- End Google Map -->
    @RenderSection("scripts", false)
</body>

</html>